---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'svelte', 'vue', 'web-components'];
const description = `
  <p class="text-left">
    Film photo by me
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="Pictures"
	description= {description}
	pubDate={new Date('August 08 2021')}
	heroImage="/src/assets/library.jpg"
>
	<p>
		Hi I'm Jeemin, I have many hobbies such as photography, playing the guitar, running, and learning languages.
	</p>

	<p>
		Among my favvorite hobbies is taking pictures
	</p>

	
</Layout>
